In [29]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import io
import dvc.api
import seaborn as sns

In [47]:
#data = dvc.api.read(path='test_store.csv',repo='https://github.com/MohammedEsamaldin/Pharmaceutical-Sales-Prediction-across-multiple-stores.git')
df = pd.read_csv('../data/train_store.csv')

In [48]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,"('Sales', 'Customers')"
0,1,5,2015-07-31,5263.0,555.0,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,NaN
1,2,5,2015-07-31,6064.0,625.0,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",NaN
2,3,5,2015-07-31,8314.0,821.0,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NaN
3,4,5,2015-07-31,13995.0,1485.0,1,1,0,1,c,c,620.0,9.0,2009.0,0,0.0,0.0,0,NaN
4,5,5,2015-07-31,4822.0,559.0,1,1,0,1,a,a,29910.0,4.0,2015.0,0,0.0,0.0,0,NaN

In [49]:
#df.set_index('Date', inplace=True)

In [50]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,"('Sales', 'Customers')"
0,1,5,2015-07-31,5263.0,555.0,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,NaN
1,2,5,2015-07-31,6064.0,625.0,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",NaN
2,3,5,2015-07-31,8314.0,821.0,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NaN
3,4,5,2015-07-31,13995.0,1485.0,1,1,0,1,c,c,620.0,9.0,2009.0,0,0.0,0.0,0,NaN
4,5,5,2015-07-31,4822.0,559.0,1,1,0,1,a,a,29910.0,4.0,2015.0,0,0.0,0.0,0,NaN

In [51]:
df['StateHoliday'].value_counts()

0    592943
0    393216
a     20260
b      6690
c      4100
Name: StateHoliday, dtype: int64

In [52]:
df['StateHoliday'] = df['StateHoliday'].values.astype(str)
df['StateHoliday'].replace({'0':'No Holiday','a':'Public Holiday','b':'Easter Holiday','c':'Christmas Holiday'},inplace=True)

In [53]:
def convert_to_datetime(df,cols):
        """
        Changing the columns into date time format
        """
        for col in cols:
            df[col] = pd.to_datetime(df[col])

In [54]:
convert_to_datetime(df, ['Date'])

In [55]:

df['Year'] = df['Date'].apply(lambda x: x.year)
df['Month'] = df['Date'].apply(lambda x: x.month)
df['DayOfMonth'] = df['Date'].apply(lambda x: x.day)
df['Weekday'] = df['DayOfWeek'].apply(lambda x: 0 if (x in [6, 7]) else 1)

In [74]:
#df.reset_index(inplace=True)
df = df.sort_values(by = 'Date')
df.head()

,level_0,index,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,"('Sales', 'Customers')",Year,Month,DayOfMonth,Weekday,DayStatus
1017208,1017208,1017208,2013-01-01,1115,2,0.0,0.0,0,0,Public Holiday,...,1,22.0,2012.0,"Mar,Jun,Sept,Dec",NaN,2013,1,1,1,Begining of Month
1016473,1016473,1016473,2013-01-01,379,2,0.0,0.0,0,0,Public Holiday,...,0,0.0,0.0,0,NaN,2013,1,1,1,Begining of Month
1016472,1016472,1016472,2013-01-01,378,2,0.0,0.0,0,0,Public Holiday,...,0,0.0,0.0,0,NaN,2013,1,1,1,Begining of Month
1016471,1016471,1016471,2013-01-01,377,2,0.0,0.0,0,0,Public Holiday,...,1,18.0,2010.0,"Feb,May,Aug,Nov",NaN,2013,1,1,1,Begining of Month
1016470,1016470,1016470,2013-01-01,376,2,0.0,0.0,0,0,Public Holiday,...,0,0.0,0.0,0,NaN,2013,1,1,1,Begining of Month

In [57]:
# Creating a new column

df.loc[df['DayOfMonth'] >= 20,'DayStatus'] = 'End of Month' 
df.loc[(df['DayOfMonth'] < 20) & (df['DayOfMonth'] > 10),'DayStatus'] = 'Mid of Month' 
df.loc[df['DayOfMonth'] < 10,'DayStatus'] = 'Begining of Month'

In [67]:
df.head()

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,"('Sales', 'Customers')",Year,Month,DayOfMonth,Weekday,DayStatus
Date,,,,,,,,,,,,,,,,,,,,,
2015-07-31,1,5,5263.0,555.0,1,1,No Holiday,1,c,a,...,0,0.0,0.0,0,NaN,2015,7,31,1,End of Month
2015-07-31,2,5,6064.0,625.0,1,1,No Holiday,1,a,a,...,1,13.0,2010.0,"Jan,Apr,Jul,Oct",NaN,2015,7,31,1,End of Month
2015-07-31,3,5,8314.0,821.0,1,1,No Holiday,1,a,a,...,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NaN,2015,7,31,1,End of Month
2015-07-31,4,5,13995.0,1485.0,1,1,No Holiday,1,c,c,...,0,0.0,0.0,0,NaN,2015,7,31,1,End of Month
2015-07-31,5,5,4822.0,559.0,1,1,No Holiday,1,a,a,...,0,0.0,0.0,0,NaN,2015,7,31,1,End of Month

In [59]:
df['Weekday'].value_counts()

1    727749
0    289460
Name: Weekday, dtype: int64

In [75]:
holidays = ["30.12.2014", "02.01.2015", "10.01.2015"]
holidays = pd.to_datetime(holidays, dayfirst=True)

df1 = pd.DataFrame({'date1':holidays})

df = pd.merge_asof(df, df1, left_on='Date', right_on='date1', direction='forward')
df = pd.merge_asof(df, df1, left_on='Date', right_on='date1')

df['until'] = df.pop('date1_x').sub(df['Date']).dt.days
df['since'] = df['Date'].sub(df.pop('date1_y')).dt.days
df.head()

,level_0,index,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,...,Promo2SinceYear,PromoInterval,"('Sales', 'Customers')",Year,Month,DayOfMonth,Weekday,DayStatus,until,since
0,1017208,1017208,2013-01-01,1115,2,0.0,0.0,0,0,Public Holiday,...,2012.0,"Mar,Jun,Sept,Dec",NaN,2013,1,1,1,Begining of Month,728.0,NaN
1,1016473,1016473,2013-01-01,379,2,0.0,0.0,0,0,Public Holiday,...,0.0,0,NaN,2013,1,1,1,Begining of Month,728.0,NaN
2,1016472,1016472,2013-01-01,378,2,0.0,0.0,0,0,Public Holiday,...,0.0,0,NaN,2013,1,1,1,Begining of Month,728.0,NaN
3,1016471,1016471,2013-01-01,377,2,0.0,0.0,0,0,Public Holiday,...,2010.0,"Feb,May,Aug,Nov",NaN,2013,1,1,1,Begining of Month,728.0,NaN
4,1016470,1016470,2013-01-01,376,2,0.0,0.0,0,0,Public Holiday,...,0.0,0,NaN,2013,1,1,1,Begining of Month,728.0,NaN