In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import io
import dvc.api
import seaborn as sns

In [2]:
# Importing Pandas an Numpy Libraries to use on manipulating our Data
import pandas as pd
import numpy as np

# To Preproccesing our data
from sklearn.preprocessing import LabelEncoder

# To fill missing values
from sklearn.impute import SimpleImputer

# To Split our train data
from sklearn.model_selection import train_test_split

# To Visualize Data
import matplotlib.pyplot as plt
import seaborn as sns

# To Train our data
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB, GaussianNB

# To evaluate end result we have
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import cross_val_score

In [3]:
#data = dvc.api.read(path='test_store.csv',repo='https://github.com/MohammedEsamaldin/Pharmaceutical-Sales-Prediction-across-multiple-stores.git')
df = pd.read_csv('../data/train_store.csv')

In [4]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,"('Sales', 'Customers')"
0,1,5,2015-07-31,5263.0,555.0,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,NaN
1,2,5,2015-07-31,6064.0,625.0,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",NaN
2,3,5,2015-07-31,8314.0,821.0,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NaN
3,4,5,2015-07-31,13995.0,1485.0,1,1,0,1,c,c,620.0,9.0,2009.0,0,0.0,0.0,0,NaN
4,5,5,2015-07-31,4822.0,559.0,1,1,0,1,a,a,29910.0,4.0,2015.0,0,0.0,0.0,0,NaN

In [5]:
#df.set_index('Date', inplace=True)

In [6]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,"('Sales', 'Customers')"
0,1,5,2015-07-31,5263.0,555.0,1,1,0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,NaN
1,2,5,2015-07-31,6064.0,625.0,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",NaN
2,3,5,2015-07-31,8314.0,821.0,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NaN
3,4,5,2015-07-31,13995.0,1485.0,1,1,0,1,c,c,620.0,9.0,2009.0,0,0.0,0.0,0,NaN
4,5,5,2015-07-31,4822.0,559.0,1,1,0,1,a,a,29910.0,4.0,2015.0,0,0.0,0.0,0,NaN

In [7]:
df['StateHoliday'].value_counts()

0    592943
0    393216
a     20260
b      6690
c      4100
Name: StateHoliday, dtype: int64

In [8]:
df['StateHoliday'] = df['StateHoliday'].values.astype(str)
df['StateHoliday'].replace({'0':'No Holiday','a':'Public Holiday','b':'Easter Holiday','c':'Christmas Holiday'},inplace=True)

In [9]:
def convert_to_datetime(df,cols):
        """
        Changing the columns into date time format
        """
        for col in cols:
            df[col] = pd.to_datetime(df[col])

In [10]:
convert_to_datetime(df, ['Date'])

In [11]:

df['Year'] = df['Date'].apply(lambda x: x.year)
df['Month'] = df['Date'].apply(lambda x: x.month)
df['DayOfMonth'] = df['Date'].apply(lambda x: x.day)
df['Weekday'] = df['DayOfWeek'].apply(lambda x: 0 if (x in [6, 7]) else 1)

In [12]:
#df.reset_index(inplace=True)
df = df.sort_values(by = 'Date')
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,"('Sales', 'Customers')",Year,Month,DayOfMonth,Weekday
1017208,1115,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,d,...,2010.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",NaN,2013,1,1,1
1016473,379,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,d,...,2010.0,0,0.0,0.0,0,NaN,2013,1,1,1
1016472,378,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,a,...,2012.0,0,0.0,0.0,0,NaN,2013,1,1,1
1016471,377,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,a,...,2010.0,1,18.0,2010.0,"Feb,May,Aug,Nov",NaN,2013,1,1,1
1016470,376,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,a,...,2012.0,0,0.0,0.0,0,NaN,2013,1,1,1

In [13]:
# Creating a new column

df.loc[df['DayOfMonth'] >= 20,'DayStatus'] = 'End of Month' 
df.loc[(df['DayOfMonth'] < 20) & (df['DayOfMonth'] > 10),'DayStatus'] = 'Mid of Month' 
df.loc[df['DayOfMonth'] < 10,'DayStatus'] = 'Begining of Month'

In [14]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,"('Sales', 'Customers')",Year,Month,DayOfMonth,Weekday,DayStatus
1017208,1115,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,d,...,1,22.0,2012.0,"Mar,Jun,Sept,Dec",NaN,2013,1,1,1,Begining of Month
1016473,379,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,d,...,0,0.0,0.0,0,NaN,2013,1,1,1,Begining of Month
1016472,378,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,a,...,0,0.0,0.0,0,NaN,2013,1,1,1,Begining of Month
1016471,377,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,a,...,1,18.0,2010.0,"Feb,May,Aug,Nov",NaN,2013,1,1,1,Begining of Month
1016470,376,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,a,...,0,0.0,0.0,0,NaN,2013,1,1,1,Begining of Month

In [15]:
df['Weekday'].value_counts()

1    727749
0    289460
Name: Weekday, dtype: int64

In [16]:
holidays = ["30.12.2014", "02.01.2015", "10.01.2015"]
holidays = pd.to_datetime(holidays, dayfirst=True)

df1 = pd.DataFrame({'date1':holidays})

df = pd.merge_asof(df, df1, left_on='Date', right_on='date1', direction='forward')
df = pd.merge_asof(df, df1, left_on='Date', right_on='date1')

df['until'] = df.pop('date1_x').sub(df['Date']).dt.days
df['since'] = df['Date'].sub(df.pop('date1_y')).dt.days
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,Promo2SinceYear,PromoInterval,"('Sales', 'Customers')",Year,Month,DayOfMonth,Weekday,DayStatus,until,since
0,1115,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,d,...,2012.0,"Mar,Jun,Sept,Dec",NaN,2013,1,1,1,Begining of Month,728.0,NaN
1,379,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,d,...,0.0,0,NaN,2013,1,1,1,Begining of Month,728.0,NaN
2,378,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,a,...,0.0,0,NaN,2013,1,1,1,Begining of Month,728.0,NaN
3,377,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,a,...,2010.0,"Feb,May,Aug,Nov",NaN,2013,1,1,1,Begining of Month,728.0,NaN
4,376,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,a,...,0.0,0,NaN,2013,1,1,1,Begining of Month,728.0,NaN

In [17]:

df.drop("('Sales', 'Customers')", axis=1, inplace=True)

In [18]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Year,Month,DayOfMonth,Weekday,DayStatus,until,since
0,1115,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,d,...,22.0,2012.0,"Mar,Jun,Sept,Dec",2013,1,1,1,Begining of Month,728.0,NaN
1,379,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,d,...,0.0,0.0,0,2013,1,1,1,Begining of Month,728.0,NaN
2,378,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,a,...,0.0,0.0,0,2013,1,1,1,Begining of Month,728.0,NaN
3,377,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,a,...,18.0,2010.0,"Feb,May,Aug,Nov",2013,1,1,1,Begining of Month,728.0,NaN
4,376,2,2013-01-01,0.0,0.0,0,0,Public Holiday,1,a,...,0.0,0.0,0,2013,1,1,1,Begining of Month,728.0,NaN

In [32]:
numerical_column = df.select_dtypes(exclude="object").columns.tolist()
categorical_column = df.select_dtypes(include="object").columns.tolist()
print("Numerical Columns:", numerical_column)
print("****************")
print("Categorical Columns:", categorical_column)

Numerical Columns: ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo', 'SchoolHoliday', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'Year', 'Month', 'DayOfMonth', 'Weekday', 'until', 'since']
****************
Categorical Columns: ['StateHoliday', 'StoreType', 'Assortment', 'PromoInterval', 'DayStatus']

In [33]:

# Get column names have less than 10 more than 2 unique values
to_one_hot_encoding = []

# Get Categorical Column names thoose are not in "to_one_hot_encoding"
to_label_encoding = [col for col in categorical_column if df[col].nunique() <= 10 and df[col].nunique() > 2]
print("To Label Encoding:", to_label_encoding)

To Label Encoding: ['StateHoliday', 'StoreType', 'Assortment', 'PromoInterval', 'DayStatus']

In [34]:


label_encoded_columns = []
# For loop for each columns
for col in to_label_encoding:
    # We define new label encoder to each new column
    le = LabelEncoder()
    # Encode our data and create new Dataframe of it, 
    # notice that we gave column name in "columns" arguments
    column_dataframe = pd.DataFrame(le.fit_transform(df[col]), columns=[col] )
    # and add new DataFrame to "label_encoded_columns" list
    label_encoded_columns.append(column_dataframe)

# Merge all data frames
label_encoded_columns = pd.concat(label_encoded_columns, axis=1)
label_encoded_columns
'''
# We will use built in pandas function "get_dummies()" to simply to encode "to_one_hot_encoding" columns
one_hot_encoded_columns = pd.get_dummies(df[to_one_hot_encoding])
one_hot_encoded_columns
'''

'\n# We will use built in pandas function "get_dummies()" to simply to encode "to_one_hot_encoding" columns\none_hot_encoded_columns = pd.get_dummies(df[to_one_hot_encoding])\none_hot_encoded_columns\n'

In [31]:
df.dtypes

Store                                 int64
DayOfWeek                             int64
Date                         datetime64[ns]
Sales                               float64
Customers                           float64
Open                                  int64
Promo                                 int64
StateHoliday                         object
SchoolHoliday                         int64
StoreType                            object
Assortment                           object
CompetitionDistance                 float64
CompetitionOpenSinceMonth           float64
CompetitionOpenSinceYear            float64
Promo2                                int64
Promo2SinceWeek                     float64
Promo2SinceYear                     float64
PromoInterval                        object
Year                                  int64
Month                                 int64
DayOfMonth                            int64
Weekday                               int64
DayStatus                            object
until                               float64
since                               float64
dtype: object

In [35]:

# Copy our DataFrame to X variable
X = df.copy()

# Droping Categorical Columns,
# "inplace" means replace our data with new one
# Don't forget to "axis=1"
X.drop(categorical_column, axis=1, inplace=True)

# Merge DataFrames
X = pd.concat([X, label_encoded_columns], axis=1)
print("All columns:", X.columns.tolist())
X

All columns: ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo', 'SchoolHoliday', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek', 'Promo2SinceYear', 'Year', 'Month', 'DayOfMonth', 'Weekday', 'until', 'since', 'StateHoliday', 'StoreType', 'Assortment', 'PromoInterval', 'DayStatus']

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,...,Month,DayOfMonth,Weekday,until,since,StateHoliday,StoreType,Assortment,PromoInterval,DayStatus
0,1115,2,2013-01-01,0.0,0.0,0,0,1,5350.0,8.0,...,1,1,1,728.0,NaN,3,3,2,3,0
1,379,2,2013-01-01,0.0,0.0,0,0,1,6630.0,8.0,...,1,1,1,728.0,NaN,3,3,0,0,0
2,378,2,2013-01-01,0.0,0.0,0,0,1,2140.0,8.0,...,1,1,1,728.0,NaN,3,0,2,0,0
3,377,2,2013-01-01,0.0,0.0,0,0,1,100.0,6.0,...,1,1,1,728.0,NaN,3,0,2,1,0
4,376,2,2013-01-01,0.0,0.0,0,0,1,160.0,8.0,...,1,1,1,728.0,NaN,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,746,5,2015-07-31,9082.0,638.0,1,1,1,4330.0,2.0,...,7,31,1,NaN,202.0,2,3,2,3,1
1017205,747,5,2015-07-31,10708.0,826.0,1,1,1,45740.0,8.0,...,7,31,1,NaN,202.0,2,2,2,0,1
1017206,748,5,2015-07-31,7481.0,578.0,1,1,1,2380.0,3.0,...,7,31,1,NaN,202.0,2,3,0,2,1
1017207,742,5,2015-07-31,10460.0,1016.0,1,1,1,4380.0,8.0,...,7,31,1,NaN,202.0,2,3,2,0,1
1017208,1,5,2015-07-31,5263.0,555.0,1,1,1,1270.0,9.0,...,7,31,1,NaN,202.0,2,2,0,0,1